root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{go,c,cpp}]
charset = utf-8
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

[*.js]
indent_style = tab
tab_width = 2
trim_trailing_whitespace = true

[*.{py,java}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
