dist: trusty
sudo: required
language: node_js
node_js:
  "7"

env:
  GOPATH: $HOME/go
  PATH: $GOPATH/bin:$PATH

install:
  - ./.bin/install_apt.sh
  - ./.bin/install_go.sh
  - ./.bin/install_npm.sh
  - pip3 install -r pip3-requirements.txt
  - pip2 install -r pip2-requirements.txt

script:
  - ./.bin/test_running.sh
  - coala --ci
  - eclint check "**/*.{java,c,cpp,js}"
